{% extends 'software/base.html' %}

{% block content %}
	<body class="index" style="background-color: #196b6a">
		{% block navbar %}
	    	{% include 'software/navbar.html' %}
		{% endblock %}
		<div class="padding-top max-height">
	        <div class="col-md-offset-1 col-md-4 senior-info">
        		<h1 class="white-text"> name: {{ catching.senior.name }} </h1>
	        	<img src="http://150.95.135.222:8000{{ catching.senior.image.url }}" class="border-img" style="max-width: 300px">
	        </div>
			<div class="padding-top-sm">
			    <div class="box scrollable">
					<div class="row">
						{% for chatting in chatting_list %}
						<div class="card">
							<div class="card-block text-center">
								<h5 class="card-title">쓴 사람: </h5>
								<p class="card-text">{{ chatting.chat }}</p>
							</div>
						</div>
						{% endfor %}
					</div>

					<div>
						<form action="{% url 'software:catching' catching.id %}" method="POST">{% csrf_token %}
							
							<div class="col-md-offset-1 col-md-8">
								<input type="text" class="form-control form-group input-lg" placeholder="Chat (50자 이하)" id="chat" name="chat">
							</div>
							<div class="col-md-2">
								<input type="submit" onclick="return IsEmpty();" class="btn btn-lg btn-success" value="Submit">
							</div>
						</form>
				    </div>
				</div>
			</div>
	    </div>
	</body>
{% endblock content %}