{% extends 'software/base.html' %}
{% block content %}
	<body class="index" style="background-color: #f9d636">
	    {% block navbar %}
	    	{% include 'software/navbar.html' %}
		{% endblock navbar %}

		<div class="intro-text">Jigabmon Go!</div>
        <div class="padding-top">
			<div class="col-md-4">
				<center>
					<img src="../../static/img/intro-img.jpg" class="full-img">
					{% if user.is_authenticated %}
						<h3>안녕하세요,&nbsp;&nbsp;{{ user.get_short_name }}님!</h3>
						<a href="{% url 'logout' %}" class="btn btn-xl">로그아웃</a>
						<a href="{% url 'password_change' %}" class="btn btn-xl">비밀번호 변경</a>
					{% else %}
						<h5>로그인하세요</h5>
						<a href="{% url 'login' %}" class="btn btn-xl">로그인</a>
					{% endif %}
				</center>

			</div>
            <div class="col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-10 box">
				<h3>###공지사항###</h3><hr />
				{% if user.is_superuser %}<h4>&nbsp;- 현재 로그인 한 유저 : {{ login_user_num }}명</h4><br />{% endif %}

				<h4>&nbsp;- 지갑몬고 계정 : 아이디는 학번, 비밀번호는 톡으로 알려드림</h4><br />

				<h4>&nbsp;- 지갑몬고 설명</h4>
				<h4>&nbsp;&nbsp;1) 새내기가 선배와 함께 사진을 찍는다</h4>
				<h4>&nbsp;&nbsp;2) 찍은 사진을 catchsenior 페이지에 제출한다</h4>
				<h4>&nbsp;&nbsp;3) 얼굴인식 결과 top3중 본인과 함께 찍은 선배를 체크한 후, 짧은 코멘트와 함께 mypocket에 담는다</h4>
				<h4>&nbsp;&nbsp;4) Ranking페이지와 Senior페이지를 통해 다른 학생들이 찍은 사진들을 구경한다</h4><br />

				<h4>&nbsp;- 주의사항</h4>
				<h4>&nbsp;&nbsp;1) 최대한 정면사진</h4>
				<h4>&nbsp;&nbsp;2) 스노우 / 셀기꾼 ㄴㄴ</h4>
				<h4>&nbsp;&nbsp;1) 너무 일그러진 표정 또는 작은사진 ㄴㄴ</h4><br />

				<h4>&nbsp;- 상품</h4>
				<h4>&nbsp;&nbsp;1) 참가만 해도 참가상 드림</h4>
				<h4>&nbsp;&nbsp;2) 찍은 사진 / 찍힌 사진 수를 기준으로 새내기, 선배, 학생회비 미납부자 모두 학생회가 준비한 상품 증정</h4>

            </div>

	</body>

{% endblock content %}
