{% extends 'software/base.html' %}

{% block content %}
	<body class="index" style="background-color: #ac775a">
	    {% block navbar %}
	    	{% include 'software/navbar.html' %}
		{% endblock %}
		<div class="padding-top">
	        <div class="col-md-4">
	        	<img src="../../static/img/mypocket-img.jpg" class="padding-top">
	        </div>
	        <div class="col-md-offset-1 col-md-6 box">
	            <h1 class="text-center">this is mypocket.html</h1>
	            <h1 class="text-center">this is mypocket.html</h1>
	            <h1 class="text-center">this is mypocket.html</h1>
	            <h1 class="text-center">this is mypocket.html</h1>
	            <h1 class="text-center">this is mypocket.html</h1>
	            <h1 class="text-center">this is mypocket.html</h1>
	            <h1 class="text-center">this is mypocket.html</h1>
	            <h1 class="text-center">this is mypocket.html</h1>
	            <h1 class="text-center">this is mypocket.html</h1>
	        </div>
	    </div>
	</body>
{% endblock content %}