{% extends 'software/base.html' %}

{% block content %}
	<body class="index" style="background-color: #f4cddb">
	    {% block navbar %}
	    	{% include 'software/navbar.html' %}
		{% endblock %}
		<div class="padding-top">
	        <div class="col-md-4">
	        	<img src="../../static/img/rank-img.jpg" class="padding-top">
	        </div>
	        <div class="col-md-offset-1 col-md-6 box">
	        	<h1 class="text-center">this is rank.html</h1>
	        	<h1 class="text-center">this is rank.html</h1>
	        	<h1 class="text-center">this is rank.html</h1>
	        	<h1 class="text-center">this is rank.html</h1>
	        	<h1 class="text-center">this is rank.html</h1>
	        	<h1 class="text-center">this is rank.html</h1>
	        	<h1 class="text-center">this is rank.html</h1>
	        	<h1 class="text-center">this is rank.html</h1>
	        	<h1 class="text-center">this is rank.html</h1>
	        </div>
        </div>
	</body>
{% endblock content %}