{% extends 'software/base.html' %}

{% block content %}
	<body class="index" style="background-color: #78ccac">

	    {% block navbar %}
			{% include 'software/navbar.html' %}
		{% endblock %}
		<div class="padding-top">
	        <div class="col-md-4">
				<center><img src="../../static/img/success-img.png" class="padding-top" style="width: 400px;"></center>
	        </div>
	        <div class="senior-info col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-10 box">
	        	{% if catchsenior == '1' %}
					<h1>Recognize</h1>
				{% else %}
					<h1>닮은 선배 찾기</h1>
				{% endif %}
				<div class="col-md-8" style="padding-top: 50px">
					<img src="{{ image_url }}" class="img img-responsive" alt="" style="max-height: 500px;">
				</div>

				<center>
				<form action="{% url 'software:mypocket' request.user.id %}" method="POST" name="frm" id="frm">{% csrf_token %}
					<div class="col-md-4" style="padding-top: 30px;">
						{% if catchsenior == '1' %}
							<h3>잡은 선배를 체크하세요</h3>
						{% endif %}
						<div class="input-group" style="height: auto;">
							<br />
							{% if catchsenior == '1' %}
								<span class="input-group-addon">
									<input type="radio" aria-label="..." name="student_id" value="{{ student_id1 }}" checked="checked" >
								</span>
							{% endif %}
							<strong>
								<p class="form-control" aria-label="..." style="height: auto;">
									<1위><br />
									<strong>{{ confidence1 }}%</strong> 일치<br />
									이름 : {{ senior1_name }}<br />
									학번 : {{ student_id1 }}
								</p>
							</strong>
						</div>
						<br />
						<div class="input-group" style="height: auto;">
							<br />
							{% if catchsenior == '1' %}
								<span class="input-group-addon">
										<input type="radio" aria-label="..." name="student_id" value="{{ student_id2 }}">
								</span>
							{% endif %}
							<strong>
								<p class="form-control" aria-label="..." style="height: auto;">
									<2위><br />
									<strong>{{ confidence2 }}%</strong> 일치<br />
									이름 : {{ senior2_name }}<br />
									학번 : {{ student_id2 }}
								</p>
							</strong>
						</div>
						<br />
						<div class="input-group" style="height: auto;">
							<br />
							{% if catchsenior == '1' %}
								<span class="input-group-addon">
										<input type="radio" aria-label="..." name="student_id" value="{{ student_id3 }}">
								</span>
							{% endif %}
							<strong>
								<p class="form-control" aria-label="..." style="height: auto;">
									<3위><br />
									<strong>{{ confidence3 }}%</strong> 일치<br />
									이름 : {{ senior3_name }}<br />
									학번 : {{ student_id3 }}
								</p>
							</strong>
						</div>
						<br />
						{% if catchsenior == '1' %}
							<div class="input-group" style="height: auto;">
								<span class="input-group-addon">
									<input type="radio" aria-label="..." name="student_id" value="{{ student_id3 }}">
								</span>
								<strong>
									<p class="form-control" aria-label="..." style="height: auto;">
										<직접 입력><br />
										(top3 안에 없을경우)
										
										<input type="text" class="form-control form-group input-lg" placeholder="이름" id="unrecognized_name" name="unrecognized_name" maxlength="4">
									</p>
								</strong>
							</div>
						{% endif %}
					</div>

					{% if catchsenior == '1' %}
						<div class="padding-top-comment">
							<input type="hidden" name="image_url" value="{{ image_url }}">
							<input type="hidden" name="confidence1" value="{{ confidence1 }}">
							<input type="hidden" name="confidence2" value="{{ confidence2 }}">
							<input type="hidden" name="confidence3" value="{{ confidence3 }}">
							<div class="col-md-offset-1 col-md-8">
								<br /><br />
								<input type="text" class="form-control form-group input-lg" placeholder="Comment (20자 이하)" id="comment" name="comment" maxlength="20" required>
							</div>
							<div class="col-md-2">
								<br /><br />
								<input type="submit" class="btn btn-lg btn-success" value="To my Pocket">
							</div>
						</div>
					{% endif %}
				</form>
				</center>
				<form action="{% url 'software:mypocket' request.user.id %}" method="POST" name="frm" id="frm">{% csrf_token %}	
					<div style="padding-top: 20px;">
						<input type="hidden" name="catching" value="{{ catching.id }}">
					</div>
				</form>
			</div>
        </div>
	</body>
{% endblock content %}
