{% extends 'software/base.html' %}

{% block content %}
	<body class="index" style="background-color: #196b6a">
	    {% block navbar %}
	    	{% include 'software/navbar.html' %}
		{% endblock %}
		<div class="padding-top max-height">
	        <div class="col-md-offset-1 col-md-4 senior-info">
        		<h1 class="white-text"> name: {{ senior.name }} </h1>
	        	<img src="{{ senior.image }}" class="border-img" style="max-width: 300px">

	        	<div class="padding-top-sm">
	    		    <div class="box scrollable">
						<div class="row">
							{% for chatting in chatting_list %}
							<div class="card col-xs-6 col-md-4 senior-info">
								<img src="{{ catching.image }}" class="card-img-top">
								<div class="card-block">
									<h5 class="card-title">쓴 사람: {{ chatting.user.name }}</h5>
									<p class="card-text">{{ chatting.chat }}</p>
								</div>
							</div>
							{% endfor %}
						</div>

						<div>
							<form action="{% url 'software:chatting' %}" method="POST">{% csrf_token %}
								<input type="hidden" name="senior" value="{{ senior.pk }}">
								<div class="col-md-offset-1 col-md-8">
									<input type="text" class="form-control form-group input-lg" placeholder="Chat (50자 이하)" id="chat" name="chat">
								</div>
								<div class="col-md-2">
									<input type="submit" onclick="return IsEmpty();" class="btn btn-lg btn-success" value="Submit">
								</div>
							</form>
					    </div>
					</div>
			    </div>
	        </div>
	        <div class="col-md-6 box scrollable">
				<div class="row">
					{% for catching in catching_list %}
					<div class="card col-xs-6 col-md-4 senior-info">
						<img src="{{ catching.image }}" class="card-img-top">
						<div class="card-block">
							<div class="col-md-8">
								<h5 class="card-title">잡은사람: {{ catching.user.name }}</h5>
								<p class="card-text">{{ catching.comment }}</p>
							</div>
							<div class="col-md-4" style="padding-top: 10px">
								<button type="button" class="btn btn-default" aria-label="Left Align">
									<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
	        </div>
	    </div>
	</body>
{% endblock content %}